-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."BlockType" AS ENUM ('TEXT', 'CHART', 'TABLE', 'BULLETS', 'NOTES');

-- CreateEnum
CREATE TYPE "public"."ETLStatus" AS ENUM ('UNKNOWN', 'PENDING', 'PROCESSING', 'OK', 'ERROR', 'BLOCKED', 'STALE');

-- CreateEnum
CREATE TYPE "public"."ETLJobStatus" AS ENUM ('PROCESSING', 'COMPLETED', 'FAILED');

-- CreateTable
CREATE TABLE "public"."User" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReportType" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "templateConfig" JSONB,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReportType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ChartCategory" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "icon" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ChartCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."IndicatorMetadata" (
    "id" SERIAL NOT NULL,
    "moduleEN" VARCHAR(100) NOT NULL,
    "moduleHE" VARCHAR(100),
    "indicatorEN" VARCHAR(200) NOT NULL,
    "indicatorHE" VARCHAR(200),
    "categoryId" INTEGER NOT NULL,
    "source" VARCHAR(50) NOT NULL,
    "seriesIDs" TEXT,
    "apiExample" TEXT,
    "calculation" TEXT,
    "notes" TEXT,
    "importance" INTEGER NOT NULL DEFAULT 3,
    "relevantReports" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "defaultChartType" VARCHAR(255) NOT NULL DEFAULT 'line',
    "etlStatus" "public"."ETLStatus" NOT NULL DEFAULT 'UNKNOWN',
    "etlStatusCode" VARCHAR(50),
    "etlNotes" TEXT,
    "lastEtlRunAt" TIMESTAMP(3),
    "lastSuccessfulAt" TIMESTAMP(3),
    "recordsCount" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IndicatorMetadata_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."IndicatorTimeSeries" (
    "id" SERIAL NOT NULL,
    "indicatorMetadataId" INTEGER NOT NULL,
    "date" DATE NOT NULL,
    "value" DECIMAL(15,6),
    "zScore" DECIMAL(8,4),
    "normalized" DECIMAL(8,6),
    "pctChange1m" DECIMAL(10,4),
    "pctChange3m" DECIMAL(10,4),
    "pctChange12m" DECIMAL(10,4),
    "ma30d" DECIMAL(15,6),
    "ma90d" DECIMAL(15,6),
    "ma365d" DECIMAL(15,6),
    "volatility30d" DECIMAL(15,6),
    "volatility90d" DECIMAL(15,6),
    "lag1" DECIMAL(15,6),
    "lag3" DECIMAL(15,6),
    "lag6" DECIMAL(15,6),
    "lag12" DECIMAL(15,6),
    "trend" VARCHAR(10),
    "isOutlier" BOOLEAN DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "originalValue" DECIMAL(15,6),
    "calculatedValue" DECIMAL(15,6),
    "hasCalculation" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "IndicatorTimeSeries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."IndicatorReportDefault" (
    "id" SERIAL NOT NULL,
    "indicatorId" INTEGER NOT NULL,
    "reportTypeId" INTEGER NOT NULL,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IndicatorReportDefault_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."IndicatorETLLog" (
    "id" SERIAL NOT NULL,
    "indicatorId" INTEGER NOT NULL,
    "jobId" VARCHAR(100) NOT NULL,
    "status" "public"."ETLStatus" NOT NULL,
    "errorCode" VARCHAR(50),
    "errorMessage" TEXT,
    "errorCategory" VARCHAR(50),
    "recordsProcessed" INTEGER NOT NULL DEFAULT 0,
    "recordsInserted" INTEGER NOT NULL DEFAULT 0,
    "recordsUpdated" INTEGER NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "metadata" JSONB,

    CONSTRAINT "IndicatorETLLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ETLJob" (
    "jobId" VARCHAR(50) NOT NULL,
    "status" "public"."ETLJobStatus" NOT NULL,
    "totalIndicators" INTEGER NOT NULL,
    "successful" INTEGER NOT NULL DEFAULT 0,
    "failed" INTEGER NOT NULL DEFAULT 0,
    "blocked" INTEGER NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ETLJob_pkey" PRIMARY KEY ("jobId")
);

-- CreateTable
CREATE TABLE "public"."Report" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "reportTypeId" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "authorId" INTEGER NOT NULL,
    "metadata" JSONB,
    "summary" TEXT,
    "tags" TEXT[],
    "isArchived" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Report_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReportSection" (
    "id" SERIAL NOT NULL,
    "reportId" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "orderIndex" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReportSection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReportBlock" (
    "id" SERIAL NOT NULL,
    "sectionId" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "type" "public"."BlockType" NOT NULL,
    "content" JSONB NOT NULL,
    "columns" INTEGER NOT NULL DEFAULT 12,
    "orderIndex" INTEGER NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReportBlock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReportExport" (
    "id" SERIAL NOT NULL,
    "reportId" INTEGER NOT NULL,
    "exportType" TEXT NOT NULL,
    "filePath" TEXT,
    "exportConfig" JSONB,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "downloadUrl" TEXT,
    "expiresAt" TIMESTAMP(3),
    "fileSize" INTEGER,
    "metadata" JSONB,

    CONSTRAINT "ReportExport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReportShare" (
    "id" TEXT NOT NULL,
    "reportId" INTEGER NOT NULL,
    "email" TEXT NOT NULL,
    "permission" TEXT NOT NULL DEFAULT 'view',
    "message" TEXT,
    "shareUrl" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReportShare_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."IndicatorConfig" (
    "id" SERIAL NOT NULL,
    "indicatorId" VARCHAR(100) NOT NULL,
    "blockId" INTEGER,
    "chartType" VARCHAR(50) NOT NULL DEFAULT 'line',
    "dateRangeStart" TIMESTAMP(3) NOT NULL,
    "dateRangeEnd" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IndicatorConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LobstrSchedule" (
    "id" SERIAL NOT NULL,
    "scheduleId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "cronExpression" TEXT,
    "timezone" TEXT NOT NULL DEFAULT 'Asia/Jerusalem',
    "lookbackHours" INTEGER NOT NULL DEFAULT 4,
    "keywords" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "accounts" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LobstrSchedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LobstrRun" (
    "id" SERIAL NOT NULL,
    "scheduleId" INTEGER NOT NULL,
    "runId" TEXT NOT NULL,
    "runType" TEXT NOT NULL DEFAULT 'auto',
    "status" TEXT NOT NULL DEFAULT 'pending',
    "windowStart" TIMESTAMP(3) NOT NULL,
    "windowEnd" TIMESTAMP(3) NOT NULL,
    "tweetsFetched" INTEGER NOT NULL DEFAULT 0,
    "tweetsProcessed" INTEGER NOT NULL DEFAULT 0,
    "tweetsDropped" INTEGER NOT NULL DEFAULT 0,
    "errors" JSONB,
    "metadata" JSONB,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "durationMs" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LobstrRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TweetRaw" (
    "id" SERIAL NOT NULL,
    "runId" TEXT NOT NULL,
    "tweetId" TEXT NOT NULL,
    "externalId" TEXT,
    "source" TEXT NOT NULL DEFAULT 'lobstr',
    "authorId" TEXT,
    "authorHandle" TEXT,
    "text" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "fetchedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isReply" BOOLEAN NOT NULL DEFAULT false,
    "isRetweet" BOOLEAN NOT NULL DEFAULT false,
    "publicMetrics" JSONB,
    "urls" JSONB,
    "symbols" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "lang" TEXT DEFAULT 'en',
    "scheduleId" TEXT NOT NULL,

    CONSTRAINT "TweetRaw_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TweetEnrichment" (
    "id" SERIAL NOT NULL,
    "tweetId" TEXT NOT NULL,
    "aiSummary" TEXT,
    "aiLabels" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "aiConfidence" DECIMAL(5,4),
    "sentiment" VARCHAR(20),
    "topic" VARCHAR(100),
    "tickerCandidates" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "moverFlag" BOOLEAN NOT NULL DEFAULT false,
    "reasonTypes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "processedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TweetEnrichment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Catalyst" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "ticker" VARCHAR(20) NOT NULL,
    "reasonTypes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "mergedFromTweetsIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "confidence" DECIMAL(5,4) NOT NULL,
    "tweetCount" INTEGER NOT NULL DEFAULT 0,
    "timeWindow" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "tweetLinks" JSONB,

    CONSTRAINT "Catalyst_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TradingViewStock" (
    "id" SERIAL NOT NULL,
    "symbol" VARCHAR(20) NOT NULL,
    "companyName" VARCHAR(200) NOT NULL,
    "preMarketChangePercent" VARCHAR(20),
    "marketCap" VARCHAR(50),
    "source" VARCHAR(50) NOT NULL DEFAULT 'tradingview',
    "dataType" VARCHAR(20) NOT NULL,
    "fetchTime" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TradingViewStock_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "ReportType_name_key" ON "public"."ReportType"("name");

-- CreateIndex
CREATE UNIQUE INDEX "ChartCategory_name_key" ON "public"."ChartCategory"("name");

-- CreateIndex
CREATE INDEX "IndicatorMetadata_categoryId_idx" ON "public"."IndicatorMetadata"("categoryId");

-- CreateIndex
CREATE INDEX "IndicatorMetadata_etlStatus_idx" ON "public"."IndicatorMetadata"("etlStatus");

-- CreateIndex
CREATE INDEX "IndicatorMetadata_importance_idx" ON "public"."IndicatorMetadata"("importance");

-- CreateIndex
CREATE INDEX "IndicatorMetadata_source_idx" ON "public"."IndicatorMetadata"("source");

-- CreateIndex
CREATE UNIQUE INDEX "IndicatorMetadata_indicatorEN_categoryId_key" ON "public"."IndicatorMetadata"("indicatorEN", "categoryId");

-- CreateIndex
CREATE INDEX "IndicatorTimeSeries_indicatorMetadataId_date_idx" ON "public"."IndicatorTimeSeries"("indicatorMetadataId", "date");

-- CreateIndex
CREATE INDEX "IndicatorTimeSeries_date_idx" ON "public"."IndicatorTimeSeries"("date");

-- CreateIndex
CREATE INDEX "IndicatorTimeSeries_hasCalculation_idx" ON "public"."IndicatorTimeSeries"("hasCalculation");

-- CreateIndex
CREATE UNIQUE INDEX "IndicatorTimeSeries_indicatorMetadataId_date_key" ON "public"."IndicatorTimeSeries"("indicatorMetadataId", "date");

-- CreateIndex
CREATE INDEX "IndicatorReportDefault_reportTypeId_isDefault_idx" ON "public"."IndicatorReportDefault"("reportTypeId", "isDefault");

-- CreateIndex
CREATE UNIQUE INDEX "IndicatorReportDefault_indicatorId_reportTypeId_key" ON "public"."IndicatorReportDefault"("indicatorId", "reportTypeId");

-- CreateIndex
CREATE INDEX "IndicatorETLLog_indicatorId_idx" ON "public"."IndicatorETLLog"("indicatorId");

-- CreateIndex
CREATE INDEX "IndicatorETLLog_status_idx" ON "public"."IndicatorETLLog"("status");

-- CreateIndex
CREATE INDEX "IndicatorETLLog_createdAt_idx" ON "public"."IndicatorETLLog"("createdAt");

-- CreateIndex
CREATE INDEX "ETLJob_status_idx" ON "public"."ETLJob"("status");

-- CreateIndex
CREATE INDEX "ETLJob_createdAt_idx" ON "public"."ETLJob"("createdAt");

-- CreateIndex
CREATE INDEX "idx_reports_title_search" ON "public"."Report"("title");

-- CreateIndex
CREATE INDEX "idx_reports_status" ON "public"."Report"("status");

-- CreateIndex
CREATE INDEX "idx_reports_created_at" ON "public"."Report"("createdAt");

-- CreateIndex
CREATE INDEX "idx_reports_updated_at" ON "public"."Report"("updatedAt");

-- CreateIndex
CREATE INDEX "idx_reports_archived" ON "public"."Report"("isArchived");

-- CreateIndex
CREATE INDEX "ReportSection_reportId_orderIndex_idx" ON "public"."ReportSection"("reportId", "orderIndex");

-- CreateIndex
CREATE INDEX "ReportBlock_sectionId_orderIndex_idx" ON "public"."ReportBlock"("sectionId", "orderIndex");

-- CreateIndex
CREATE INDEX "ReportExport_exportType_status_idx" ON "public"."ReportExport"("exportType", "status");

-- CreateIndex
CREATE INDEX "ReportExport_createdAt_idx" ON "public"."ReportExport"("createdAt");

-- CreateIndex
CREATE INDEX "ReportExport_expiresAt_idx" ON "public"."ReportExport"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "ReportShare_shareUrl_key" ON "public"."ReportShare"("shareUrl");

-- CreateIndex
CREATE INDEX "idx_report_shares_email" ON "public"."ReportShare"("email");

-- CreateIndex
CREATE INDEX "idx_report_shares_url" ON "public"."ReportShare"("shareUrl");

-- CreateIndex
CREATE INDEX "idx_report_shares_expires" ON "public"."ReportShare"("expiresAt");

-- CreateIndex
CREATE INDEX "IndicatorConfig_indicatorId_idx" ON "public"."IndicatorConfig"("indicatorId");

-- CreateIndex
CREATE INDEX "IndicatorConfig_blockId_idx" ON "public"."IndicatorConfig"("blockId");

-- CreateIndex
CREATE UNIQUE INDEX "IndicatorConfig_indicatorId_blockId_key" ON "public"."IndicatorConfig"("indicatorId", "blockId");

-- CreateIndex
CREATE UNIQUE INDEX "LobstrSchedule_scheduleId_key" ON "public"."LobstrSchedule"("scheduleId");

-- CreateIndex
CREATE INDEX "LobstrSchedule_scheduleId_idx" ON "public"."LobstrSchedule"("scheduleId");

-- CreateIndex
CREATE INDEX "LobstrSchedule_isActive_idx" ON "public"."LobstrSchedule"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "LobstrRun_runId_key" ON "public"."LobstrRun"("runId");

-- CreateIndex
CREATE INDEX "LobstrRun_scheduleId_idx" ON "public"."LobstrRun"("scheduleId");

-- CreateIndex
CREATE INDEX "LobstrRun_status_idx" ON "public"."LobstrRun"("status");

-- CreateIndex
CREATE INDEX "LobstrRun_windowStart_windowEnd_idx" ON "public"."LobstrRun"("windowStart", "windowEnd");

-- CreateIndex
CREATE INDEX "LobstrRun_runType_idx" ON "public"."LobstrRun"("runType");

-- CreateIndex
CREATE UNIQUE INDEX "TweetRaw_tweetId_key" ON "public"."TweetRaw"("tweetId");

-- CreateIndex
CREATE INDEX "TweetRaw_tweetId_idx" ON "public"."TweetRaw"("tweetId");

-- CreateIndex
CREATE INDEX "TweetRaw_scheduleId_idx" ON "public"."TweetRaw"("scheduleId");

-- CreateIndex
CREATE INDEX "TweetRaw_runId_idx" ON "public"."TweetRaw"("runId");

-- CreateIndex
CREATE INDEX "TweetRaw_createdAt_idx" ON "public"."TweetRaw"("createdAt");

-- CreateIndex
CREATE INDEX "TweetRaw_lang_idx" ON "public"."TweetRaw"("lang");

-- CreateIndex
CREATE INDEX "TweetRaw_isReply_isRetweet_idx" ON "public"."TweetRaw"("isReply", "isRetweet");

-- CreateIndex
CREATE INDEX "TweetRaw_symbols_idx" ON "public"."TweetRaw"("symbols");

-- CreateIndex
CREATE UNIQUE INDEX "TweetRaw_source_externalId_key" ON "public"."TweetRaw"("source", "externalId");

-- CreateIndex
CREATE UNIQUE INDEX "TweetEnrichment_tweetId_key" ON "public"."TweetEnrichment"("tweetId");

-- CreateIndex
CREATE INDEX "TweetEnrichment_tweetId_idx" ON "public"."TweetEnrichment"("tweetId");

-- CreateIndex
CREATE INDEX "TweetEnrichment_moverFlag_idx" ON "public"."TweetEnrichment"("moverFlag");

-- CreateIndex
CREATE INDEX "TweetEnrichment_reasonTypes_idx" ON "public"."TweetEnrichment"("reasonTypes");

-- CreateIndex
CREATE INDEX "TweetEnrichment_sentiment_idx" ON "public"."TweetEnrichment"("sentiment");

-- CreateIndex
CREATE INDEX "TweetEnrichment_processedAt_idx" ON "public"."TweetEnrichment"("processedAt");

-- CreateIndex
CREATE INDEX "Catalyst_ticker_idx" ON "public"."Catalyst"("ticker");

-- CreateIndex
CREATE INDEX "Catalyst_reasonTypes_idx" ON "public"."Catalyst"("reasonTypes");

-- CreateIndex
CREATE INDEX "Catalyst_timeWindow_idx" ON "public"."Catalyst"("timeWindow");

-- CreateIndex
CREATE INDEX "Catalyst_confidence_idx" ON "public"."Catalyst"("confidence");

-- CreateIndex
CREATE INDEX "TradingViewStock_symbol_idx" ON "public"."TradingViewStock"("symbol");

-- CreateIndex
CREATE INDEX "TradingViewStock_dataType_idx" ON "public"."TradingViewStock"("dataType");

-- CreateIndex
CREATE INDEX "TradingViewStock_fetchTime_idx" ON "public"."TradingViewStock"("fetchTime");

-- CreateIndex
CREATE INDEX "TradingViewStock_createdAt_idx" ON "public"."TradingViewStock"("createdAt");

-- AddForeignKey
ALTER TABLE "public"."IndicatorMetadata" ADD CONSTRAINT "IndicatorMetadata_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "public"."ChartCategory"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."IndicatorTimeSeries" ADD CONSTRAINT "IndicatorTimeSeries_indicatorMetadataId_fkey" FOREIGN KEY ("indicatorMetadataId") REFERENCES "public"."IndicatorMetadata"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."IndicatorReportDefault" ADD CONSTRAINT "IndicatorReportDefault_indicatorId_fkey" FOREIGN KEY ("indicatorId") REFERENCES "public"."IndicatorMetadata"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."IndicatorReportDefault" ADD CONSTRAINT "IndicatorReportDefault_reportTypeId_fkey" FOREIGN KEY ("reportTypeId") REFERENCES "public"."ReportType"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."IndicatorETLLog" ADD CONSTRAINT "IndicatorETLLog_indicatorId_fkey" FOREIGN KEY ("indicatorId") REFERENCES "public"."IndicatorMetadata"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Report" ADD CONSTRAINT "Report_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Report" ADD CONSTRAINT "Report_reportTypeId_fkey" FOREIGN KEY ("reportTypeId") REFERENCES "public"."ReportType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReportSection" ADD CONSTRAINT "ReportSection_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "public"."Report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReportBlock" ADD CONSTRAINT "ReportBlock_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "public"."ReportSection"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReportExport" ADD CONSTRAINT "ReportExport_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "public"."Report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReportShare" ADD CONSTRAINT "ReportShare_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "public"."Report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."IndicatorConfig" ADD CONSTRAINT "IndicatorConfig_blockId_fkey" FOREIGN KEY ("blockId") REFERENCES "public"."ReportBlock"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LobstrRun" ADD CONSTRAINT "LobstrRun_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "public"."LobstrSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

